.ng-scope {
  .col-xs-12 {
    width: 100%;

    padding: 120px 0 80px 0;
    background: url(../../images/img/blockApp/backapp.jpg);
    background-size: contain;
    .mainMaxWidth {
      max-width: 940px;
      float: none;
      margin: auto;
      clear: both;
    }
    .textLeft {
      color: #fff;
      font-weight: 700;
      font-size: xx-large;
    }
    .textSmallLeft {
      color: #fff;
      font-size: medium;
    }
    .buttonLeft {
      background-color: rgba(253, 178, 18, 0.55);
      padding: 10px 20px;
      color: #fff;
      font-size: medium;
      font-weight: 700;
      border: none;
      border-radius: 4px;
    }
    .textAppUnder {
      color: #fff;
      padding-top: 10px;
      display: flex;
      .tagA {
        color: #fff;
        border-bottom: 1px solid #fff;
        cursor: hand;
        margin: 0px 10px;
      }
    }
    .right-App {
      position: relative;
      padding: 0;
      overflow: hidden;
      .img-responsive {
        padding: 0 28%;
      }
      img {
        width: 100%;
      }
      .sliderScreen {
        position: absolute;
        padding: 1.5% 29.3% 0 29.3%;
        top: 0;
        left: 0;
        width: 100%;
        img {
          border-radius: 20px;
          width: 100%;
          height: 442px !important;
        }
        .slick-prev:before {
          content: none;
        }
        .slick-next:before {
          content: none;
        }
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .ng-scope {
    .row {
      .col-xs-12 {
        .mainMaxWidth {
          .row {
            padding-bottom: 50px;
            .right-App {
              margin-left: 250px;
              .img-responsive {
                height: 555px;
                padding: 38px 27.6%;
                padding-bottom: 50px;
              }
              .sliderScreen {
                img {
                  border-radius: 20px;
                  margin-top: 45px;
                }
              }
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 375px) {
  .ng-scope {
    .row {
      .col-xs-12 {
        .mainMaxWidth {
          .row {
            display: flex;
            flex-wrap: wrap;
             margin-right: 0;
            margin-left: -212px;
            // .right-App {
            //   margin-left: 250px;
            //   .img-responsive {
            //     height: 555px;
            //     padding: 38px 27.6%;
            //     padding-bottom: 50px;
            //   }
            //   .sliderScreen {
            //     img {
            //       border-radius: 20px;
            //       margin-top: 45px;
            //     }
            //   }
            // }
          }
        }
      }
    }
  }
}
