.slick-slide img {
  margin-top: 75px;
  display: block;
}
.slick-arrow {
  position: absolute;
  margin-right: 80px;
}
.slick-next:before {
  font-family: "slick";
  font-size: 53px;
}
.slick-dots {
    margin-bottom: 60px;
    li button:before{
        font-size: 16px;
        color: white;
    }
}

