.menu {
  position: fixed;
  z-index: 999;
  height: 97px;
  .logo {
    a {
      img {
        width: 68%;
        // height: 100%;
      }
    }
  }
  .navbar {
    background-color: #000000 !important;
    .col-3 {
      padding-left: 100px;
    }
    .sign-language {
      text-align: left;
      color: $color-white;
      margin: 15px 0px;
      ul {
        display: flex;
        li {
          list-style: none;
          a {
            text-decoration: none;
            color: $color-white;
            &:hover {
              color: $color-yellow;
            }
          }
          i {
            margin: 0px 5px;
            border: 1px solid white;
            width: 40px;
            height: 31px;
            padding: 4px 13px;
            border-radius: 50%;
            &:hover {
              color: $color-yellow;
              border: 1px solid $color-yellow;
            }
          }
        }
      }
    }
  }

  @include menu();
  .nav-item {
    font-size: 13px;
    .nav-link {
      margin: 0px 20px;
    }
  }
}
