// header
$color-yellow: hsla(41, 77%, 53%, 0.984); 
$color-white: white;
$color-black: black;
$color-red: #ec5252;
$color-white: white;

$pos1 : relative;
$pos2 : absolute;


$color1 : hsla(41, 98%, 53%, 0.984);
$color2 : #fbbd61;
$color3 : #ec7532;

