// header
$color-yellow: hsla(41, 77%, 53%, 0.984); 
$color-white: white;
$color-black: black;
$color-red: #ec5252;
$color-white: white;

$pos1 : relative;
$pos2 : absolute;


$color1 : hsla(41, 98%, 53%, 0.984);
$color2 : #fbbd61;
$color3 : #ec7532;
$color-white-0: #ffffff;
$color-black-0: #000000;
$color-black-1: #1f2e46;
$color-black-7: #333333;


$border-radius-2: 5px;
$border-radius-4: 4px;
$color-red-2: #fb4226;
$color-red-3: #fa5238;
$color-red-4: #ca4137;

$fs-0: 16px;
$fs-2: 12px;
$fs-3: 13px;
$fs-4: 14px;
$fs-5: 20px;
$fs-6: 24px;
$fs-9: 50px;
$fs-11: 100px;
$fs-12: 150px;
$fs-13: 15px;
$fs-14: 18px;
$fs-15: 36px;

$fw-medium: 500;
$fw-bold: 600;
$color-lime-0: #00ff00;
$color-lime-1: #00ac4d;
$color-lime-2: #8bc541;
$color-lime-4: #44c020;
$color-lime-5: #4cb050;

$color-orange-1: #ff6600;
$color-orange-2: #e5a813;
$color-orange-3: #f79320;

$color-gray-0: #4a4a4a;
$color-gray-1: #949494;
$color-gray-2: #9b9b9b;
$color-gray-3: #d8d8d8;
$color-gray-4: #ebebec;
$color-gray-5: #9c9c9c;
$color-gray-7: #e9e9e9;

//variable margin
$default-spacing: 10px;
$color-blue-3: #0478fd;
$color-blue-1: #60c5ef;
$color-blue-2: #4a90e2;


$fw-regular: 400;
$fw-regular-1: 300;

$fw-medium: 500;
$border-radius-4: 4px;
$border-radius-7: 6px;

//break points
$breakpoints:(
    'extra-large': 1200px,
    'large': 992px,
    'medium' : 768px,
    'small' : 576px,
    '17inch': 1920px,
);
