// header
$color-yellow: hsla(41, 77%, 53%, 0.984); 
$color-white: white;
$color-black: black;
$color-red: #ec5252;
$color-white: white;

$pos1 : relative;
$pos2 : absolute;


$color1 : hsla(41, 98%, 53%, 0.984);
$color2 : #fbbd61;
$color3 : #ec7532;
$color-white-0: #ffffff;
$color-black-0: #000000;
$color-gray-4: #ebebec;
$border-radius-4: 4px;
$color-red-2: #fb4226;
$color-red-4: #ca4137;

$fs-2: 12px;
$fs-4: 14px;
$fs-13: 15px;
$fw-medium: 500;
$fw-bold: 600;
$color-lime-2: #8bc541;
$color-orange-1: #ff6600;
$color-orange-2: #e5a813;
$color-gray-1: #949494;
$color-gray-5: #9c9c9c;

//variable margin
$default-spacing: 10px;

//break points
$breakpoints:(
    'extra-large': 1200px,
    'large': 992px,
    'medium' : 768px,
    'small' : 576px,
);
